---
interface Props {
  title: string;
  subtitle: string;
  image: string;
}

const { title, subtitle, image } = Astro.props;
---

<section class="page-hero" style={`background-image: url('${image}')`}>
  <div class="container">
    <h1>{title}</h1>
    <p>{subtitle}</p>
  </div>
</section>
